<div class="mt-3">
  <h5>Renk Seç</h5>
  <select class="form-select"  [(ngModel)]="colorFilter" aria-label="Default select example">
    <option selected>Tüm Renkler</option>
    <option *ngFor="let color of colors" >{{color.colorName}}</option>
  </select>
  <button routerLink="" type="button" class="btn btn-success">Filtrele</button>
</div>



<!-- <ul class="list-group">
  <li [class]="getAllColorClass()" 
  routerLink="/cars">Tüm Renkler</li>
  <li (click)="setCurrentColor(color)" 
  routerLink="/cars/color/{{color.colorId}}"
  *ngFor="let color of colors" 
  [class]="getCurrentColorClass(color)">{{color.colorName}}</li>
</ul> -->
